* {
    margin: 0;
    padding: 0;

}

.table {
    border: 1px solid #dcdcdc;
    width: max-content;
    margin: 100px auto;
}
.row {
    display: flex;
}
.square {
    width: 75px;
    height: 75px;
}