.list {
  background: #4286f4;
  width: 500px;
  padding: 1rem;
}

.ghost {
  opacity: 0.4;
}

.list-item {
  background: #8bb3f4;
  padding: 0.5rem;
  border: 1px solid white;
  margin: 1px 0;
}

.list-item.active {
  background: rgb(255, 111, 0);
}
