*{
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    margin-left: 70px;
    font-family: "Asap", sans-serif;
}

.title {
    margin-bottom: 30px;
    font-size: 10px;
    display: inline-block; 
    margin-left: 70px;
}

hr{
    display: inline-block;
    width: 1040px;
    position: absolute;
    margin-left: 490px;
    margin-top: -12px;
}



.menu ul {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    position: relative;
    padding-left: 70px;
    padding-right: 200px;
}

.menu li {
    width: 135px;
    height: auto;
    list-style-type: none;
    background-color: rgb(196, 90, 4); 
    margin-left: 5px;
    text-align: center;
    border-radius: 35px;
    padding: 10px ;
}

.menu li:hover {
    cursor: pointer;
    background-color: rgb(255, 117, 5);
}
.menu li a {
    text-decoration: none;
    color: white;
}
.menu li span {
    font-size: 14px;
    color: white;
    font-weight: 300;
    font-style: italic;
}

.card-name {
    justify-content: space-between;
    position: relative;
    margin-left: 55px;
}

.row-first .card,
.row-second .card {
    width: 500px;
    height: 300px;
    display: grid;
    float: left;
    padding: 10px;
}

img {
    width: 500px;
    height: 300px;
    box-shadow: rgba(82, 80, 80, 0.103) 0px 5px 15px;
    border-radius: 5px;
}

.card-name h1, 
.card-name p {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px rgba(7, 7, 7, 0.411);
}

.card-name h1 {
    padding-left: 25px;
    padding-top: 15px;
}

.card-name p {
    padding-top: 250px;
    padding-left: 25px;
    
}

