{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

.text-header {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
    margin-left: 200px;
}

.logo-facebook {
    height: 106px;
    margin: 108px; 
}

img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
  }