* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  [class^="col-"] {
    padding: 0 10px;
  }