@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
$fontStyle: "Inter",sans-serif;
$colorText: #2C2C2C;
$colorBg-green-100:#F2FFEC;
$colorBg-green-200: #DCFFCA;
$colorBg-green-300: #C5FFA8;
$colorBg-orange-300: #FFBA94;
$colorBg-orange-200: #FFD5BD;
$colorBg-orange-100: #FFF0E7;






