@use "./variable" as v;
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// /* moblie */
@media (max-width: 740px) {
  header {
    .container {
      .row {
        .navbar {
          margin-left: 200px;
          .logo {
          }
          .over-lay {
            background: rgba(2, 2, 2, 0.322);
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 4;
            display: none;
            animation: fadeIn 0.2s linear;
          }
          svg {
            display: block;
          }
          .nav-menu {
            .nav-input:checked ~ .over-lay {
              display: block;
            }
            .nav-input:checked ~ .menu-res {
              transform: translateX(0%);
            }
            .menu-bar {
              .icon-bar {
                display: block;
              }
              .menu-res {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: v.$colorBg-green-100;
                width: 300px;
                transform: translateX(100%);
                z-index: 4;
                transition: all 0.3s ease-in-out;
                ul {
                  display: block;
                  li {
                    margin-top: 50px;
                    a {
                      font-size: 22px;
                    }
                    a:focus {
                      color: #46b20f;
                      border-bottom: 2px solid #46b20f;
                    }
                  }
                }
              }
            }
          }
        }
        main {
          display: block;
          position: relative;
          margin: 0px auto;
          .content-section {
            width: 514px;
            position: absolute;
            margin: 50px auto;
            background: rgba(255, 255, 255, 0.6);
            z-index: 3;
            border-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
        }
        .advertise {
          .advertise-card {
            margin-left: 500px;
            display: block;
            margin-top: 100px;
            .card-1 {
              width: 394.167px;
              height: 437.5px;
              margin: 0px auto;
              box-shadow: none;
              background: transparent;
            }
            .card-2 {
              width: 442.5px;
              height: 492.5px;
              margin: 10px auto;
              border: none;
              box-shadow: none;
            }
          }
        }
        .circle-1 {
          margin-left: 200px;
        }
        .circle-2 {
          margin-right: 70px;
        }
        .cardpro-ducts {
          h2 {
            margin-top: 150px;
          }
          .card {
            .row {
              width: 900px;
              display: flex;
              flex-wrap: wrap;
              .product {
                margin-bottom: 10px;
                .circle-1 {
                  margin-left: -10px;
                  margin-top: 100px;
                }
                .circle-2 {
                  margin-top: 130px;
                }
              }
            }
          }
        }
        .news {
          h2 {
           
          }
          p {
          }
          .news-box {
            max-width: 900px;
            
            .card-news {
  
              .news-time {
                span {
                  
                }
                span:nth-child(3) {
                 
                }
                img {
                }
              }
              h3 {
                
              }
              p {
                
              }
            }
          }
          button {
           
            svg {
            }
          }
        }
        .news-2 {
          h2 {
          }
          p {
          }
          .news-2-box {
            max-width: 900px;
            justify-content: center;
            .news-2-card {
              img {
              }
              h2 {
              }
              p {
               
              }
            }
          }
          
        }
        .regulations {
          .regulations-card {
            display: flex;
            margin-left: 312.5px;
            margin-bottom: 38.83px;
          max-width: 900px;
          flex-wrap: wrap;
            .regulations-box {
              width: 288px;
              height: 131px;
              margin-left: 52.5px;
            }
          }
        }
        .communication {
          display: block;
          .communication-box {
            .communication-box-cirlce {
             
            }
            h3 {
              
            }
            
            .btn {
              button {
                
              }
            }
          }
        }
        footer {
          .infor-footer {
            display: flex;
            flex-wrap: wrap;
            width: 700px;
            .infor-footer-logo {
              img {
              }
              span {
              }
            }
            .infor-footer-homepage {
              margin-left: 69.67px;
              span {
              }
              ul {
                li {
                  a {
                  }
                }
              }
            }
            .infor-footer-support {
              padding-top: 10px;
              span {
              }
              ul {
                li {

                  a {
                  }
  
                  span {
                    padding-left: 25px;
                  }
                  svg {
                  }
                }
              }
            }
            .infor-footer-contact {
              width: 350px;
              padding-left: 150px;
              padding-top: 10px;
              span {
              }
              ul {
                li {
                  span {
                  }
                  svg {
                  }
                }
              }
            }
          }
          hr {
          }
          .icon-footer {
            .icon-footer-social {
              .small-icon {
                svg {
                }
                img {
                }
              }
            }
          }
        }
      }
    }
  }
}

// /* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  header {
    .container {
      .row {
        .navbar {
          .logo {
          }
          .over-lay {
            background: rgba(2, 2, 2, 0.322);
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: none;
            animation: fadeIn 0.2s linear;
          }
          svg {
            display: block;
          }
          .nav-menu {
            .nav-input:checked ~ .over-lay {
              display: block;
            }
            .nav-input:checked ~ .menu-res {
              transform: translateX(0%);
            }
            .menu-bar {
              .icon-bar {
                display: block;
              }
              .menu-res {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: v.$colorBg-green-100;
                width: 300px;
                transform: translateX(100%);
                z-index: 4;
                transition: all 0.3s ease-in-out;
                ul {
                  display: block;
                  li {
                    margin-top: 50px;
                    a {
                      font-size: 22px;
                    }
                    a:focus {
                      color: #46b20f;
                      border-bottom: 2px solid #46b20f;
                    }
                  }
                }
              }
            }
          }
        }
        .card {
          display: flex;
          margin-top: 200px;
          .row {
            display: flex;
          }
        }
        .cardpro-ducts {
          max-width: 1400px;
          h2 {
          }
        .card {
          .row {
            .product {  
          margin-bottom: 50px;

              .circle-1 {
              }
              .circle-2 {
                top: -170px;
              }
            }
          }
        }
      }
      .news-2 {
        h2 {
        }
        p {
        }
        .news-2-box {
          max-width: 1200px;
          justify-content: center;
          .news-2-card {
            img {
            }
            h2 {
            }
            p {
             
            }
          }
        }
        
      }
      .regulations {
        .regulations-card {
        max-width: 1200px;
        flex-wrap: wrap;
          .regulations-box {
            width: 288px;
            height: 131px;
            margin-left: 52.5px;
          }
        }
      }
      footer {
        .infor-footer {
          .infor-footer-logo {
            img {
            }
            span {
            }
          }
          .infor-footer-homepage {
            span {
            }
            ul {
              li {
                a {
                }
              }
            }
          }
          .infor-footer-support {
            padding-left: 69.67px;

            span {
            }
            ul {

              li {
                a {
                }

                span {
                  padding-left: 25px;
                }
                svg {
                }
              }
            }
          }
          .infor-footer-contact {
            span {
            }
            ul {
              li {
                span {
                margin-left: -45px;
                }
                svg {
                }
              }
            }
          }
        }
        hr {
        }
        .icon-footer {
          .icon-footer-social {
            .small-icon {
              svg {
              }
              img {
              }
            }
          }
        }
      }
      }
    }
  }
}

// /* PC */
@media (min-width: 1024px) {
  header {
    .container {
      .row {
        .navbar {
          svg {
            display: none;
          }
          .nav-menu {
            .menu-bar {
              ul {
                li {
                }
              }
              .icon-bar {
                display: none;
              }
            }
          }
        }

        .card {
          display: flex;
          margin-top: 200px;
          .row {
            display: flex;
          }
        }
        .cardpro-ducts {
          max-width: 1400px;
          h2 {
          }
        .card {
          .row {
            .product {  
          margin-bottom: 50px;

              .circle-1 {
              }
              .circle-2 {
                top: -170px;
              }
            }
          }
        }
      }
      .news-2 {
        h2 {
        }
        p {
        }
        .news-2-box {
          max-width: 1200px;
          justify-content: center;
          .news-2-card {
            img {
            }
            h2 {
            }
            p {
             
            }
          }
        }
        
      }
      .regulations {
        .regulations-card {
        max-width: 1200px;
        flex-wrap: wrap;
          .regulations-box {
            width: 288px;
            height: 131px;
            margin-left: 52.5px;
          }
        }
      }
      .communication {
        display: flex;
        .communication-box {
          .communication-box-cirlce {
           
          }
          h3 {
          }
          
          .btn {
            button {
              
            }
          }
        }
      }
      footer {
          .infor-footer {
            .infor-footer-logo {
              img {
              }
              span {
              }
            }
            .infor-footer-homepage {
              span {
              }
              ul {
                li {
                  a {
                  }
                }
              }
            }
            .infor-footer-support {
              padding-left: 69.67px;

              span {
              }
              ul {

                li {
                  a {
                  }
  
                  span {
                    padding-left: 25px;
                  }
                  svg {
                  }
                }
              }
            }
            .infor-footer-contact {
              span {
              }
              ul {
                li {
                  span {
                  margin-left: -45px;
                  }
                  svg {
                  }
                }
              }
            }
          }
          hr {
          }
          .icon-footer {
            .icon-footer-social {
              .small-icon {
                svg {
                }
                img {
                }
              }
            }
          }
        }
      }
    }
  }
}
