@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 740px) {
  header .container .row .navbar {
    margin-left: 200px;
  }
  header .container .row .navbar .over-lay {
    background: rgba(2, 2, 2, 0.322);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    animation: fadeIn 0.2s linear;
  }
  header .container .row .navbar svg {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .over-lay {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .menu-res {
    transform: translateX(0%);
  }
  header .container .row .navbar .nav-menu .menu-bar .icon-bar {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F2FFEC;
    width: 300px;
    transform: translateX(100%);
    z-index: 4;
    transition: all 0.3s ease-in-out;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li {
    margin-top: 50px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a {
    font-size: 22px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a:focus {
    color: #46b20f;
    border-bottom: 2px solid #46b20f;
  }
  header .container .row main {
    display: block;
    position: relative;
    margin: 0px auto;
  }
  header .container .row main .content-section {
    width: 514px;
    position: absolute;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.6);
    z-index: 3;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  header .container .row .advertise .advertise-card {
    margin-left: 500px;
    display: block;
    margin-top: 100px;
  }
  header .container .row .advertise .advertise-card .card-1 {
    width: 394.167px;
    height: 437.5px;
    margin: 0px auto;
    box-shadow: none;
    background: transparent;
  }
  header .container .row .advertise .advertise-card .card-2 {
    width: 442.5px;
    height: 492.5px;
    margin: 10px auto;
    border: none;
    box-shadow: none;
  }
  header .container .row .circle-1 {
    margin-left: 200px;
  }
  header .container .row .circle-2 {
    margin-right: 70px;
  }
  header .container .row .cardpro-ducts h2 {
    margin-top: 150px;
  }
  header .container .row .cardpro-ducts .card .row {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
  }
  header .container .row .cardpro-ducts .card .row .product {
    margin-bottom: 10px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-1 {
    margin-left: -10px;
    margin-top: 100px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-2 {
    margin-top: 130px;
  }
  header .container .row .news .news-box {
    max-width: 900px;
  }
  header .container .row .news-2 .news-2-box {
    max-width: 900px;
    justify-content: center;
  }
  header .container .row .regulations .regulations-card {
    display: flex;
    margin-left: 312.5px;
    margin-bottom: 38.83px;
    max-width: 900px;
    flex-wrap: wrap;
  }
  header .container .row .regulations .regulations-card .regulations-box {
    width: 288px;
    height: 131px;
    margin-left: 52.5px;
  }
  header .container .row .communication {
    display: block;
  }
  header .container .row footer .infor-footer {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  header .container .row footer .infor-footer .infor-footer-homepage {
    margin-left: 69.67px;
  }
  header .container .row footer .infor-footer .infor-footer-support {
    padding-top: 10px;
  }
  header .container .row footer .infor-footer .infor-footer-support ul li span {
    padding-left: 25px;
  }
  header .container .row footer .infor-footer .infor-footer-contact {
    width: 350px;
    padding-left: 150px;
    padding-top: 10px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  header .container .row .navbar .over-lay {
    background: rgba(2, 2, 2, 0.322);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    animation: fadeIn 0.2s linear;
  }
  header .container .row .navbar svg {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .over-lay {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .menu-res {
    transform: translateX(0%);
  }
  header .container .row .navbar .nav-menu .menu-bar .icon-bar {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F2FFEC;
    width: 300px;
    transform: translateX(100%);
    z-index: 4;
    transition: all 0.3s ease-in-out;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li {
    margin-top: 50px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a {
    font-size: 22px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a:focus {
    color: #46b20f;
    border-bottom: 2px solid #46b20f;
  }
  header .container .row .card {
    display: flex;
    margin-top: 200px;
  }
  header .container .row .card .row {
    display: flex;
  }
  header .container .row .cardpro-ducts {
    max-width: 1400px;
  }
  header .container .row .cardpro-ducts .card .row .product {
    margin-bottom: 50px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-2 {
    top: -170px;
  }
  header .container .row .news-2 .news-2-box {
    max-width: 1200px;
    justify-content: center;
  }
  header .container .row .regulations .regulations-card {
    max-width: 1200px;
    flex-wrap: wrap;
  }
  header .container .row .regulations .regulations-card .regulations-box {
    width: 288px;
    height: 131px;
    margin-left: 52.5px;
  }
  header .container .row footer .infor-footer .infor-footer-support {
    padding-left: 69.67px;
  }
  header .container .row footer .infor-footer .infor-footer-support ul li span {
    padding-left: 25px;
  }
  header .container .row footer .infor-footer .infor-footer-contact ul li span {
    margin-left: -45px;
  }
}
@media (min-width: 1024px) {
  header .container .row .navbar svg {
    display: none;
  }
  header .container .row .navbar .nav-menu .menu-bar .icon-bar {
    display: none;
  }
  header .container .row .card {
    display: flex;
    margin-top: 200px;
  }
  header .container .row .card .row {
    display: flex;
  }
  header .container .row .cardpro-ducts {
    max-width: 1400px;
  }
  header .container .row .cardpro-ducts .card .row .product {
    margin-bottom: 50px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-2 {
    top: -170px;
  }
  header .container .row .news-2 .news-2-box {
    max-width: 1200px;
    justify-content: center;
  }
  header .container .row .regulations .regulations-card {
    max-width: 1200px;
    flex-wrap: wrap;
  }
  header .container .row .regulations .regulations-card .regulations-box {
    width: 288px;
    height: 131px;
    margin-left: 52.5px;
  }
  header .container .row .communication {
    display: flex;
  }
  header .container .row footer .infor-footer .infor-footer-support {
    padding-left: 69.67px;
  }
  header .container .row footer .infor-footer .infor-footer-support ul li span {
    padding-left: 25px;
  }
  header .container .row footer .infor-footer .infor-footer-contact ul li span {
    margin-left: -45px;
  }
}

/*# sourceMappingURL=responsive.css.map */
