@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

[class^=col-] {
  padding: 0 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 740px) {
  header .container .row .navbar {
    margin-left: 200px;
  }
  header .container .row .navbar .over-lay {
    background: rgba(2, 2, 2, 0.322);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    animation: fadeIn 0.2s linear;
  }
  header .container .row .navbar svg {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .over-lay {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .menu-res {
    transform: translateX(0%);
  }
  header .container .row .navbar .nav-menu .menu-bar .icon-bar {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F2FFEC;
    width: 300px;
    transform: translateX(100%);
    z-index: 4;
    transition: all 0.3s ease-in-out;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li {
    margin-top: 50px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a {
    font-size: 22px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a:focus {
    color: #46b20f;
    border-bottom: 2px solid #46b20f;
  }
  header .container .row main {
    display: block;
    position: relative;
    margin: 0px auto;
  }
  header .container .row main .content-section {
    width: 514px;
    position: absolute;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.6);
    z-index: 3;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  header .container .row .advertise .advertise-card {
    margin-left: 500px;
    display: block;
    margin-top: 100px;
  }
  header .container .row .advertise .advertise-card .card-1 {
    width: 394.167px;
    height: 437.5px;
    margin: 0px auto;
    box-shadow: none;
    background: transparent;
  }
  header .container .row .advertise .advertise-card .card-2 {
    width: 442.5px;
    height: 492.5px;
    margin: 10px auto;
    border: none;
    box-shadow: none;
  }
  header .container .row .circle-1 {
    margin-left: 200px;
  }
  header .container .row .circle-2 {
    margin-right: 70px;
  }
  header .container .row .cardpro-ducts h2 {
    margin-top: 150px;
  }
  header .container .row .cardpro-ducts .card .row {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
  }
  header .container .row .cardpro-ducts .card .row .product {
    margin-bottom: 10px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-1 {
    margin-left: -10px;
    margin-top: 100px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-2 {
    margin-top: 130px;
  }
  header .container .row .news .news-box {
    max-width: 900px;
  }
  header .container .row .news-2 .news-2-box {
    max-width: 900px;
    justify-content: center;
  }
  header .container .row .regulations .regulations-card {
    display: flex;
    margin-left: 312.5px;
    margin-bottom: 38.83px;
    max-width: 900px;
    flex-wrap: wrap;
  }
  header .container .row .regulations .regulations-card .regulations-box {
    width: 288px;
    height: 131px;
    margin-left: 52.5px;
  }
  header .container .row .communication {
    display: block;
  }
  header .container .row footer .infor-footer {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  header .container .row footer .infor-footer .infor-footer-homepage {
    margin-left: 69.67px;
  }
  header .container .row footer .infor-footer .infor-footer-support {
    padding-top: 10px;
  }
  header .container .row footer .infor-footer .infor-footer-support ul li span {
    padding-left: 25px;
  }
  header .container .row footer .infor-footer .infor-footer-contact {
    width: 350px;
    padding-left: 150px;
    padding-top: 10px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  header .container .row .navbar .over-lay {
    background: rgba(2, 2, 2, 0.322);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    animation: fadeIn 0.2s linear;
  }
  header .container .row .navbar svg {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .over-lay {
    display: block;
  }
  header .container .row .navbar .nav-menu .nav-input:checked ~ .menu-res {
    transform: translateX(0%);
  }
  header .container .row .navbar .nav-menu .menu-bar .icon-bar {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F2FFEC;
    width: 300px;
    transform: translateX(100%);
    z-index: 4;
    transition: all 0.3s ease-in-out;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul {
    display: block;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li {
    margin-top: 50px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a {
    font-size: 22px;
  }
  header .container .row .navbar .nav-menu .menu-bar .menu-res ul li a:focus {
    color: #46b20f;
    border-bottom: 2px solid #46b20f;
  }
  header .container .row .card {
    display: flex;
    margin-top: 200px;
  }
  header .container .row .card .row {
    display: flex;
  }
  header .container .row .cardpro-ducts {
    max-width: 1400px;
  }
  header .container .row .cardpro-ducts .card .row .product {
    margin-bottom: 50px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-2 {
    top: -170px;
  }
  header .container .row .news-2 .news-2-box {
    max-width: 1200px;
    justify-content: center;
  }
  header .container .row .regulations .regulations-card {
    max-width: 1200px;
    flex-wrap: wrap;
  }
  header .container .row .regulations .regulations-card .regulations-box {
    width: 288px;
    height: 131px;
    margin-left: 52.5px;
  }
  header .container .row footer .infor-footer .infor-footer-support {
    padding-left: 69.67px;
  }
  header .container .row footer .infor-footer .infor-footer-support ul li span {
    padding-left: 25px;
  }
  header .container .row footer .infor-footer .infor-footer-contact ul li span {
    margin-left: -45px;
  }
}
@media (min-width: 1024px) {
  header .container .row .navbar svg {
    display: none;
  }
  header .container .row .navbar .nav-menu .menu-bar .icon-bar {
    display: none;
  }
  header .container .row .card {
    display: flex;
    margin-top: 200px;
  }
  header .container .row .card .row {
    display: flex;
  }
  header .container .row .cardpro-ducts {
    max-width: 1400px;
  }
  header .container .row .cardpro-ducts .card .row .product {
    margin-bottom: 50px;
  }
  header .container .row .cardpro-ducts .card .row .product .circle-2 {
    top: -170px;
  }
  header .container .row .news-2 .news-2-box {
    max-width: 1200px;
    justify-content: center;
  }
  header .container .row .regulations .regulations-card {
    max-width: 1200px;
    flex-wrap: wrap;
  }
  header .container .row .regulations .regulations-card .regulations-box {
    width: 288px;
    height: 131px;
    margin-left: 52.5px;
  }
  header .container .row .communication {
    display: flex;
  }
  header .container .row footer .infor-footer .infor-footer-support {
    padding-left: 69.67px;
  }
  header .container .row footer .infor-footer .infor-footer-support ul li span {
    padding-left: 25px;
  }
  header .container .row footer .infor-footer .infor-footer-contact ul li span {
    margin-left: -45px;
  }
}
header .container .row {
  width: 1600px;
}
header .container .row .navbar {
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .container .row .navbar svg {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 200px;
  top: 20px;
}
header .container .row .navbar .logo {
  margin-top: 18.6px;
}
header .container .row .navbar .logo img {
  margin-left: 200px;
}
header .container .row .navbar .nav-menu .menu-bar {
  margin-top: 51.58px;
  height: auto;
  display: block;
}
header .container .row .navbar .nav-menu .menu-bar ul {
  list-style-type: none;
  display: flex;
}
header .container .row .navbar .nav-menu .menu-bar ul li {
  margin-left: 50px;
}
header .container .row .navbar .nav-menu .menu-bar ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #2C2C2C;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  padding-bottom: 20px;
}
header .container .row .navbar .nav-menu .menu-bar ul li a:hover {
  color: #46b20f;
  border-bottom: 2px solid #46b20f;
}
header .container .row .navbar .nav-menu .menu-bar ul li:last-child {
  margin-right: 197.83px;
}
header .container .row .navbar .nav-menu .menu-bar .icon-bar {
  position: absolute;
  right: 300px;
  bottom: 20px;
}
header .container .row .navbar .nav-menu .menu-bar .icon-bar a {
  margin-left: 50px;
}
header .container .row .navbar .nav-menu .menu-bar .icon-bar a img {
  width: 50px;
  height: 50px;
}
header .container .row main {
  display: flex;
}
header .container .row main .content-section {
  margin-left: 200px;
  margin-top: 217.5px;
}
header .container .row main .content-section h1 {
  display: block;
  width: 400px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header .container .row main .content-section h2 {
  display: block;
  width: 514px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 36.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  margin-right: 111px;
}
header .container .row main .content-section p {
  display: block;
  width: 450px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
header .container .row main .image-section {
  width: 776px;
  height: 708px;
  margin-right: 0px;
  background-color: #DCFFCA;
  border-radius: 16.667px 0px 0px 16.667px;
  position: relative;
}
header .container .row main .image-section img {
  position: absolute;
  top: -13px;
  right: 250.22px;
  width: 670px;
  height: 688px;
}
header .container .row main .image-section p {
  width: 676px;
  height: 334px;
  display: block;
  position: absolute;
  color: rgba(34, 96, 0, 0.1450980392);
  font-family: "Inter", sans-serif;
  font-size: 166.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  rotate: 90deg;
  top: 205px;
  right: -130px;
}
header .container .row .advertise {
  position: relative;
}
header .container .row .advertise .content {
  margin-top: 100px;
}
header .container .row .advertise .content h2 {
  width: 558px;
  height: 84px;
  display: block;
  margin-left: 520.83px;
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
header .container .row .advertise .content p {
  margin-top: 24.33px;
  margin-left: 478px;
  display: block;
  width: 643.333px;
  height: 44.167px;
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
header .container .row .advertise-card {
  display: flex;
  margin-left: 313.33px;
  justify-content: space-evenly;
}
header .container .row .advertise-card .card-1 {
  width: 294.167px;
  height: 337.5px;
  margin-top: 142.5px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
}
header .container .row .advertise-card .card-1 .quality {
  width: 83.333px;
  height: 83.333px;
  background: #FFF0E7;
  border-radius: 10px;
  margin-top: 33.33px;
  margin-left: 33.33px;
  margin-bottom: 23.33px;
}
header .container .row .advertise-card .card-1 .quality img {
  margin: 19.17px;
}
header .container .row .advertise-card .card-1 span {
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 35px;
}
header .container .row .advertise-card .card-1 p {
  margin-top: 24.67px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
  margin-left: 33.33px;
}
header .container .row .advertise-card .card-2 {
  margin: 115px 21.67px;
  width: 342.5px;
  height: 392.5px;
  flex-shrink: 0;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
}
header .container .row .advertise-card .card-2 .quality {
  width: 83.333px;
  height: 83.333px;
  background: #F2FFEC;
  border-radius: 10px;
  margin-top: 33.33px;
  margin-left: 33.33px;
  margin-bottom: 23.33px;
}
header .container .row .advertise-card .card-2 .quality img {
  margin: 19.17px;
}
header .container .row .advertise-card .card-2 span {
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 35px;
}
header .container .row .advertise-card .card-2 p {
  margin-top: 24.67px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
  margin-left: 33.33px;
}
header .container .row .circle-1 {
  width: 235px;
  height: 235px;
  position: absolute;
  background: #DCFFCA;
  border-radius: 999px;
  top: 270px;
  left: 200px;
  z-index: -1;
}
header .container .row .circle-2 {
  width: 235px;
  height: 235px;
  position: absolute;
  background: #FFD5BD;
  border-radius: 999px;
  bottom: -20px;
  right: -120px;
  z-index: -1;
}
header .container .row .cardpro-ducts h2 {
  margin-left: 722.5px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
header .container .row .cardpro-ducts .card {
  display: flex;
  margin-top: 200px;
  margin-left: 200px;
}
header .container .row .cardpro-ducts .card .row {
  display: flex;
}
header .container .row .cardpro-ducts .card .row .product {
  width: 269.32px;
  height: 592.37px;
  text-align: center;
  margin-right: 83.33px;
  position: relative;
}
header .container .row .cardpro-ducts .card .row .product .circle-1 {
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  background: #FFBA94;
  position: absolute;
  top: -120px;
  left: 10px;
}
header .container .row .cardpro-ducts .card .row .product .circle-2 {
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  background: #C5FFA8;
  position: absolute;
  top: -150px;
  left: 10px;
}
header .container .row .cardpro-ducts .card .row .product img {
  width: 240.117px;
  height: 241.148px;
  margin-bottom: 17.19px;
}
header .container .row .cardpro-ducts .card .row .product h3 {
  height: 56px;
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .container .row .cardpro-ducts .card .row .product h3:hover {
  color: #46B20F;
  cursor: pointer;
}
header .container .row .cardpro-ducts .card .row .product hr {
  width: 40.833px;
  stroke-width: 1.667px;
  stroke: #a3a3a3;
  margin-left: 120px;
  margin-top: 14px;
  margin-bottom: 16.67px;
}
header .container .row .cardpro-ducts .card .row .product p {
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
  margin-bottom: 6.33px;
}
header .container .row .cardpro-ducts .card .row .product .title {
  color: #656565;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
}
header .container .row .cardpro-ducts .card .row .product span {
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
header .container .row .cardpro-ducts .card .row .product button {
  width: 177.333px;
  height: 46.66px;
  background: #46b20f;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30.88px;
}
header .container .row .cardpro-ducts .card .row .product button:hover {
  color: white;
  background: #FF6916;
  cursor: pointer;
}
header .container .row .news h2 {
  margin-left: 744.17px;
  margin-bottom: 23px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
header .container .row .news p {
  margin-left: 471.67px;
  width: 657.5px;
  margin-bottom: 29.05px;
}
header .container .row .news .news-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 200px;
}
header .container .row .news .news-box .card-news {
  width: 385px;
  height: 478.27px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 23.33px;
  margin-bottom: 79.67px;
}
header .container .row .news .news-box .card-news img {
  width: 385px;
  height: 273.333px;
}
header .container .row .news .news-box .card-news img[src="./img/Rectangle 12.png"] {
  width: 383.333px;
}
header .container .row .news .news-box .card-news .news-time {
  width: 390px;
  display: flex;
  margin-top: 16.27px;
  margin-bottom: 18.67px;
}
header .container .row .news .news-box .card-news .news-time span {
  color: #46b20f;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .container .row .news .news-box .card-news .news-time span:nth-child(3) {
  color: #a3a3a3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .container .row .news .news-box .card-news .news-time img {
  width: 20px;
  height: 20px;
  margin-left: 170px;
}
header .container .row .news .news-box .card-news h3 {
  width: 395.833px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  margin-bottom: 16px;
}
header .container .row .news .news-box .card-news p {
  margin-left: 0;
}
header .container .row .news button {
  width: 153px;
  height: 46.6666px;
  display: flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  background: transparent;
  border: 1px solid #46b20f;
  border-radius: 6.667px;
  margin-left: 723.33px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 100px;
}
header .container .row .news button svg {
  width: 20px;
  height: 20px;
}
header .container .row .news button:hover {
  background: #46b20f;
  color: white;
}
header .container .row .news button:active {
  background: #2E8900;
}
header .container .row .news button:hover ~ svg {
  color: white;
}
header .container .row .news-2 {
  width: 100%;
  position: relative;
}
header .container .row .news-2 h2 {
  width: 394px;
  margin-left: 603.33px;
  margin-bottom: 24.33px;
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
header .container .row .news-2 p {
  width: 745px;
  margin-left: 427.5px;
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  margin-bottom: 50px;
}
header .container .row .news-2 .news-2-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-bottom: 116.69px;
}
header .container .row .news-2 .news-2-box .news-2-card {
  width: 345.833px;
  height: 359.167px;
  border-radius: 8.333px;
  background: #fff;
  margin-right: 25px;
}
header .container .row .news-2 .news-2-box .news-2-card h2 {
  width: 280px;
  color: #e05000;
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  margin-left: 0;
  margin-top: 24.17px;
  margin-bottom: 6.3px;
  text-align: left;
  margin-left: 27.5px;
}
header .container .row .news-2 .news-2-box .news-2-card p {
  width: 300px;
  margin-left: 0;
  text-align: left;
  margin-left: 27.5px;
}
header .container .row .news-2 .shape {
  width: 100%;
  height: 360.833px;
  border-radius: 8.333px;
  background: #FFF0E7;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
header .container .row .regulations {
  width: 100%;
  margin-top: 133.31px;
  margin-bottom: 133px;
}
header .container .row .regulations .regulations-card {
  display: flex;
  margin-left: 312.5px;
  margin-bottom: 38.83px;
}
header .container .row .regulations .regulations-card .regulations-box {
  width: 288px;
  height: 131px;
  margin-left: 52.5px;
}
header .container .row .communication {
  width: 100%;
  margin-left: 204.17px;
  margin-bottom: 101px;
  flex-wrap: wrap;
}
header .container .row .communication .communication-box {
  position: relative;
  width: 50%;
  margin-bottom: 100px;
}
header .container .row .communication .communication-box .communication-box-cirlce {
  width: 439.167px;
  height: 439.167px;
  border-radius: 439.167px;
  background: #FFF0E7;
  position: absolute;
  top: 59.17px;
  right: 210px;
  z-index: -1;
}
header .container .row .communication .communication-box h3 {
  width: 361px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  margin-bottom: 26px;
}
header .container .row .communication .communication-box input[type=text] {
  width: 598px;
  height: 45.66px;
  margin-bottom: 22.67px;
  padding: 13.333px 491.667px 13.333px 13.333px;
  align-items: center;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
header .container .row .communication .communication-box input[type=email],
header .container .row .communication .communication-box input[type=number] {
  width: 286.6666px;
  height: 45.66px;
  margin-bottom: 22.67px;
  padding: 13.333px 176.667px 13.333px 13.333px;
  align-items: center;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  margin-right: 17.5px;
}
header .container .row .communication .communication-box input[placeholder="Nội Dung"] {
  height: 149px;
}
header .container .row .communication .communication-box textarea {
  width: 598px;
  height: 149px;
  margin-bottom: 22.67px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  padding: 13.333px 176.667px 13.333px 13.333px;
}
header .container .row .communication .communication-box .btn button {
  width: 128.333px;
  height: 46.666px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 6.667px;
  background: #46b20f;
  margin-left: 463.33px;
}
header .container .row .communication .communication-box .btn button:hover {
  background: #FF6916;
}
header .container .row .communication .communication-box .btn button:active {
  background: #E05000;
}
header .container .row footer {
  width: 100%;
  height: 407.05px;
  background: #F2FFEC;
  margin-top: 110px;
}
header .container .row footer .infor-footer {
  display: flex;
  margin-left: 312px;
  margin-top: 63.92px;
  margin-bottom: 72.5px;
}
header .container .row footer .infor-footer .infor-footer-logo {
  margin-right: 107.05px;
}
header .container .row footer .infor-footer .infor-footer-logo span {
  display: block;
  width: 191.6667px;
  margin-top: 24.58px;
}
header .container .row footer .infor-footer .infor-footer-homepage span {
  color: #46b20f;
  font-family: "Inter", sans-serif;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  padding-left: 69.67px;
}
header .container .row footer .infor-footer .infor-footer-homepage ul {
  margin-top: 13px;
  list-style-type: none;
  padding-left: 69.67px;
}
header .container .row footer .infor-footer .infor-footer-homepage ul li {
  margin-bottom: 6.67px;
}
header .container .row footer .infor-footer .infor-footer-homepage ul li a {
  text-decoration: none;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
header .container .row footer .infor-footer .infor-footer-support span {
  color: #46b20f;
  font-family: "Inter", sans-serif;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
}
header .container .row footer .infor-footer .infor-footer-support ul {
  list-style-type: none;
  padding-top: 13px;
}
header .container .row footer .infor-footer .infor-footer-support ul li {
  position: relative;
  margin-bottom: 6.67px;
}
header .container .row footer .infor-footer .infor-footer-support ul li a {
  text-decoration: none;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
header .container .row footer .infor-footer .infor-footer-support ul li span {
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding-left: 25px;
}
header .container .row footer .infor-footer .infor-footer-support ul li svg {
  position: absolute;
}
header .container .row footer .infor-footer .infor-footer-contact span {
  color: #46b20f;
  font-family: "Inter", sans-serif;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  padding-left: 69.67px;
}
header .container .row footer .infor-footer .infor-footer-contact ul {
  list-style-type: none;
  margin-top: 13px;
  padding-left: 69.67px;
}
header .container .row footer .infor-footer .infor-footer-contact ul li {
  margin-bottom: 6.67px;
}
header .container .row footer .infor-footer .infor-footer-contact ul li span {
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: -45px;
}
header .container .row footer .infor-footer .infor-footer-contact ul li svg {
  position: absolute;
}
header .container .row footer hr {
  width: 975px;
  margin-left: 312.5px;
}
header .container .row footer .icon-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 24.17px;
}
header .container .row footer .icon-footer .icon-footer-social {
  display: flex;
  justify-content: center;
}
header .container .row footer .icon-footer .icon-footer-social .small-icon {
  width: 40px;
  height: 40px;
  fill: #dcffca;
  background: #DCFFCA;
  border-radius: 999px;
  margin-right: 6.67px;
}
header .container .row footer .icon-footer .icon-footer-social .small-icon svg {
  margin-top: 10px;
  margin-left: 10px;
}
header .container .row footer .icon-footer .icon-footer-social .small-icon img {
  margin-top: 12px;
  margin-left: 12px;
}

/*# sourceMappingURL=style.css.map */
