/*
Thuộc tính margin: căn lền ( ngoài border )
1. margin: value
2.margin: value 1, value 2 
3 margin: value 1, value 2, value 3
4 margin: value 1, value 2, value 3, value  4
- margin-top
- margin-left
- margin-right
- margin-bottom

Hỗ trợ các đơn vị: %,px, em, rem, 
Đơn vị % theo width của thẻ cha
Lưu ý: margin hỗ trợ auto

seach CSS Margin Collapse
Box model

*/

.box {
    border: 1px solid green;
    width: 200px;
    padding: 20px;
    /* margin-left: auto;
    margin-right: auto;
    margin-inline: auto; */

    margin: 0 auto;

}